/* HTML element types */

a:link   { COLOR: #888888; text-decoration: none; }
a:visited{ COLOR: #888888; text-decoration: none; }
a:active { COLOR: #888888; text-decoration: none; }
a:hover  { COLOR: #888888; text-decoration: underline; }

input {
  font-family: Verdana;
  font-size: 10pt;
  font-weight:normal;
}

textarea {
  font-family: Verdana;
  font-size: 10pt;
  width: auto;
}

select {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
  font-weight:normal;
  width: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0 0;
}

tr {
  vertical-align: top;
}

td {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
}

th {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  padding: 0 1em 0.1em 0;
  border-bottom: 1px solid black;
  text-align: left;
}

p {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
}

img {
  border-width: 0
}

div {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
}

body {
  margin:10;
  padding-left:10px;
  padding-right:10px;
}

h1 {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

h2 {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 11pt;
  font-style: italic;
  font-weight: normal;
}

ul {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
  list-style-type:circle;
}

li {
  font-family: Verdana, helvetica, sans-serif;
  font-size: 10pt;
}

/* Classes */

.borders {
  border-bottom-style: inset;
  border-bottom-width: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.code {
  font-family: Courier new, Nimbus Mono L, sans-serif;
  font-size: 10pt;
}

.appyTable {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.siteTitle {
  font-size: 12pt;
  padding-left: 10px;
}

.headerStrip {
  text-align: right;
  font-size: 11pt;
  font-style: italic;
  background-color: #f1f1ed;
  padding-right: 1em;
}

.bottomStrip {
  font-size: 10pt;
  font-weight:bold;
  background-color: #F8F8F8;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

.doc {
  padding-left: 14px;
  font-style: italic;
}

.tabs {
  padding-left: 1em;
  font-size: 10pt;
}

.footer {
  text-align: right;
  font-size: 9pt;
  font-style: italic;
}
