body { font: 70% Lucida,Helvetica,Arial,sans-serif; background-color: #EAEAEA; }
h1 { font-size: 11pt; margin:0;}
h2 { font-size: 10pt; margin:0; font-style: italic; font-weight: normal;}
h3 { font-size: 9pt; margin:0; font-weight: bold;}
a { text-decoration: none; color: #503737;}
a:visited { color: #503737;}
table { font-size: 100%; border-spacing: 0px; border-collapse:collapse;}
form { margin: 0; padding: 0;}
p { margin: 0;}
acronym {cursor: help;}
input[type=image] { border: 0; background: none; }
input[type=checkbox] { border: 0; background: none; cursor: pointer;}
input[type=radio] { border: 0; background: none; cursor: pointer;}
input[type=file] { border: 0px solid #cccccc; background-color: #f8f8f8;
                   cursor: pointer;}
input[type=button] { border: 1px solid #cccccc; background-color: #f8f8f8;
                     cursor: pointer;}
input[type=submit] { border: 1px solid #cccccc; background-color: #f8f8f8;
                     cursor: pointer; }
input[type=password] { border: 1px solid #cccccc; background-color: #f8f8f8;}
input[type=text] { border: 1px solid #cccccc; background-color: #f8f8f8;
                   font-family: Lucida,Helvetica,Arial,sans-serif;
                   margin-bottom: 1px}
select { border: 1px solid #cccccc; background-color: #f8f8f8;}

textarea { width: 99%; font: 100% Lucida,Helvetica,Arial,sans-serif;
           border: 1px solid #a79e9e; background-color: #f8f8f8;}
label { font-weight: 600; font-style: italic; line-height: 1.4em;}
legend { padding-bottom: 2px; padding-right: 3px; color: black;}
ul { line-height: 1.2em; margin: 0 0 0.2em 0.6em;  padding: 0;
     list-style: none outside none;}
li { margin: 0; background-image: url("skyn/li.gif"); padding-left: 10px;
     background-repeat: no-repeat; background-position: 0 4px;}
img {border: 0;}

.main { width: 900px; background-color: white; box-shadow: 3px 3px 3px #A9A9A9;
        border-style: solid; border-width: 1px; border-color: grey; }
.top { height: 75px; margin-left: 3em; vertical-align: top;}
.lang { margin-right: 3px; }
.userStrip { background-color: #a2a2a2; height: 30px;
             border-top: 3px solid #525252; border-bottom: 2px solid #9b0000; }
.login { margin-top: 2px; margin-bottom: 2px; color: white;}
.buttons { margin-left: 4px;}
.message { color: #9b0000; font-style: italic;
           position: absolute; top: -15px; right: 5px}
.discreet { font-size: 90%; }
.portlet { width: 150px; padding: 12px 9px 9px 9px;
           border-right: 1px solid #9b0000;}
.portletTitle { font-weight: bold; font-size: 110%; margin-bottom: 4px;}
.portletCurrent { font-weight: bold; }
.portletSep { border-top: 1px solid grey; margin-top: 9px; padding-top: 9px;}
.portletPage { font-style: italic; }
.portletGroup { font-variant: small-caps; font-weight: bold; font-style: normal;
                margin: 0.4em 0 0.2em 0; }
.phase { border-style: dashed; border-width: thin; padding: 0 0.6em 5px 1em;}
.phaseSelected { background-color: #EDEDED; }
.content { padding: 14px 3px 9px 15px;}
.grey { display: none; position: absolute; left: 0px; top: 0px;
        background:grey; opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5;
        filter:alpha(Opacity=50);}
.popup { display: none; position: absolute; top: 30%; left: 35%;
         width: 350px; z-index : 100; background: white; padding: 8px;
         border: 1px solid grey; }
.list { border: 1px solid grey; margin-bottom: 3px;}
.list td, .list th { border: 1px solid grey;
                     padding-left: 5px; padding-right: 5px; padding-top: 3px;}
.list th { background-color: #cbcbcb; font-style: italic; font-weight: normal;}
.noStyle { border: 0 !important; padding: 0 !important; margin: 0 !important; }
.noStyle td { border:0 !important; padding:0 !important; margin:0 !important; }
.translationLabel { background-color: #EAEAEA; border-bottom: 1px dashed grey;
                    margin-top: 0.5em; margin-bottom: 0.5em; }
.section1 { font-size: 120%; margin: 0.45em 0em 0.1em 0;
            padding: 0.3em 0em 0.2em 0.1em; background-color: #eef3f5;
            border-top: 1px solid #8CACBB;border-bottom: 1px solid #8CACBB; }
.section2 { font-size: 110%; font-style: italic; margin: 0.45em 0em 0.2em 0;
            border-bottom: 2px solid grey; }
.section3 { font-size: 100%; font-style: italic; margin: 0.45em 0em 0.1em 0;
            background-color: #efeae8; text-align: center; color: grey; }
.odd { background-color: white; }
.even { background-color: #ededed; }
.summary {margin-bottom: 5px;}
.objectTitle { font-size: 11pt; border-bottom: 3px solid grey;
               font-weight: bold;}
.by { padding-top: 5px;}
.workflow { text-align: center; border-top: 1px solid grey;
            background-color: #f8f8f8;}
.underTitle { background-color: #ededed;}
.objectNavigate { margin-top: 3px;}
.underline { border-bottom: 1px dotted grey;}
.state { font-weight: bold; border-bottom: 1px dashed grey;}
.historyLabel { font-variant: small-caps; font-weight: bold;}
.history td { border-top: 1px solid grey;}
.history th { font-style: italic; text-align; left;}
.topSpace { margin-top: 15px;}
.discreet { color: grey}
