html { height: 100% }
body { font: 75% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
       height: 100%; background-color: #EAEAEA; margin-top: 18px }
pre { font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
      margin: 0 }
h1 { font-size: 14pt; margin:6px 0 6px 0 }
h2 { font-size: 13pt; margin:6px 0 6px 0; font-style: italic;
     font-weight: normal }
h3 { font-size: 12pt; margin:4px 0 4px 0; font-weight: bold }
h4 { font-size: 11pt; margin:4px 0 4px 0 }
h5 { font-size: 10pt; margin:0; font-style: italic; font-weight: normal;
     background-color: #d7dee4 }
h6 { font-size: 9pt; margin:0; font-weight: bold }
a { text-decoration: none; color: #114353 }
a:visited { color: #114353 }
.unclickable { pointer-events: none; color: grey !important }
table { font-size: 100%; border-spacing: 0px; border-collapse:collapse }
form { margin: 0; padding: 0 }
p { margin: 0 0 5px 0 }
acronym { cursor: help }
input { font: 92% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif }
input[type=image] { border: 0; background: none; cursor: pointer }
input[type=checkbox] { border: 0; background: none; cursor: pointer }
input[type=radio] { border: 0; background: none; cursor: pointer }
input[type=file] { border: 0px solid #d0d0d0; cursor: pointer }
input[type=button] { border: 1px solid #d0d0d0; margin: 0 3px;
                     background-color: #f8f8f8; cursor: pointer }
input[type=submit] { border: 1px solid #d0d0d0; background-color: #f8f8f8;
                     cursor: pointer }
input[type=password] { border: 1px solid #d0d0d0; padding: 0 2px;
                       margin-bottom:1px;
                       font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif }
input[type=text] { border: 1px solid #d0d0d0; padding: 0 2px; margin-bottom:1px;
                   font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif }
select { border: 1px solid #d0d0d0; background-color: white }

textarea { width: 99%; font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
           border: 1px solid #d0d0d0; background-color: white }
label { color: #555555; font-size: 11px; margin: 3px 0;
        text-transform: uppercase }
legend { padding-bottom: 2px; padding-right: 3px; color: black }
ul { line-height: 1.2em; margin: 0 0 0.2em 0.6em;  padding: 0;
     list-style: none outside none }
ul li { margin: 0; background-image: url("ui/li.gif"); padding-left: 10px;
        background-repeat: no-repeat; background-position: 0 4px }
img { border: 0; vertical-align: middle }

.main { width: 900px; height: 95%; box-shadow: 3px 3px 3px #A9A9A9 }
.mainWide { width: 100%; height: 100% }
.wrongBrowser { height: 15px; color: red; text-align: center }
.top { height: 89px; margin-left: 3em; vertical-align: top;
       background-color: white }
.lang { margin-right: 6px }
.userStrip { background-color: #A3A3C8; border-top: 3px solid #cbcbcb;
             border-bottom: 2px solid #e4e4e4; width: 100%; height: 100% }
.userStripText { padding: 0 0.3em 0 0.3em; color: whitesmoke }
.userStrip a { color: #e7e7e7 }
.userStrip a:visited { color: #e7e7e7 }
.changePassword { color: #494949 !important; font-style:italic; font-size: 90% }
.breadcrumb { font-size: 11pt; padding-bottom: 6px }
.login { margin: 3px; color: black }
input.button { color: #666666; height: 20px; cursor:pointer; font-size: 90%;
  padding-left: 26px; padding-right: 12px; background-color: white;
  background-repeat: no-repeat; background-position: 8px 25%;
  box-shadow: 2px 2px 2px #888888}
input.buttonSmall { font-size: 85%; height: 18px }
input.buttonFixed { width:110px; padding: 0 0 0 10px }
.fake { background-color: #e6e6e6 !important ; cursor:help !important }
.xhtml { background-color: white; padding: 4px; font-size: 95% }
.xhtml img { margin-right: 5px }
.xhtml p { margin: 3px 0 7px 0 }
.clickable { cursor: pointer }
.help { cursor: help }
.refLink { font-style: italic; padding-left: 5px; font-size: 90%;
           color: #555555 }
.buttons { margin-left: 4px }
.objectButtons { margin-top: 5px }
.message { position: absolute; top: -40px; left: 50%; font-size: 90%;
           width: 600px; border: 1px #F0C36D solid; padding: 6px;
           background-color: #F9EDBE; text-align: center; margin-left: -300px;
           border-radius: 2px 2px 2px 2px; box-shadow: 0 2px 4px #A9A9A9;
           z-index: 10 }
.messagePopup { width: 80%; top: 0; left: 0; margin-left: 10px }
.focus { font-size: 90%; margin: 7px 0 7px 0; padding: 7px;
         background-color: #d7dee4; border-radius: 2px 2px 2px 2px;
         box-shadow: 0 2px 4px #A9A9A9 }
.focus td { padding: 4px 0px 4px 4px }
.discreet { font-size: 90%; color: #555555 }
.title {}
.lostPassword { font-size: 90%; color: white; padding-left: 1em }
.current { font-weight: bold }
.portlet { width: 150px; border-right: 3px solid #e4e4e4;
           background-color: whitesmoke }
.portletContent { padding: 4px 9px }
.portletTitle { font-size: 110%; margin-bottom: 4px }
.portletSep { border-top: 3px solid #e4e4e4 }
.portletGroup { font-variant: small-caps; font-weight: bold; font-size: 110%;
                margin: 0.1em 0 0.3em ; border-bottom: 1px dashed #c0c0c0 }
.portletSearch { font-size: 90%; font-style: italic }
.portletCurrent { font-weight: bold }
.inputSearch { height: 15px; width: 132px; margin: 3px 3px 2px 3px !important }
td.search { padding-top: 8px }
.searchFields { width: 100%; margin-bottom: 8px }
.content { padding: 9px; background-color: #fbfbfb }
.popup { display: none; position: absolute; z-index : 100; background: white;
         padding: 8px; border: 1px solid grey; box-shadow: 2px 2px 2px #888888}
.dropdown { display:none; position: absolute; top: 12px; left: 1px;
            border: 1px solid #cccccc; background-color: white;
            padding: 3px 4px 3px; font-size: 8pt; font-weight: normal;
            text-align: left; z-index: 2; line-height: normal }
.liveSearch { top: 19px; padding: 0; width: 250px }
.lsSelected { background-color: #d9d7d9 }
.lsNoResult { text-align: center; padding: 3px 3px; font-style: italic }
.dropdownMenu { cursor: pointer; font-size: 93%; position: relative }
.dropdown a:hover { text-decoration: underline }
.addForm { display: inline }
.addFormMenu { display: inline; padding: 0 5px 0 3px }
.inline { display: inline }
.list { margin-bottom: 3px }
.list td, .list th {
  border: 3px solid #ededed; color: #555555; padding: 3px 5px 3px 5px }
.list th { background-color: #e5e5e5; font-style: italic; font-weight: normal }
.compact { font-size: 90%; width: 100% }
.compact th, .compact td { padding: 0px 3px 0px 3px }
.grid th { font-style: italic; font-weight: normal;
           border-bottom: 5px solid #fdfdfd; padding: 3px 5px 0 5px }
.grid td { padding: 0 3px }
.timeline { font-size: 85%; color: #555555 }
.timeline tr { height: 18px }
.timeline td { text-align: center; padding: 0 1px }
.timeline th { padding: 1px }
.tlLeft { text-align: left !important; padding-left: 1px !important }
.tlRight { text-align: right !important; padding-right: 1px !important }
.msgTable { margin: 6px 0; width: 100%; font-size: 93% }
.msgTable tr { vertical-align: top }
.msgTable td, .msgTable th { border: 1px solid grey; color: #555555;
                             padding: 0px 5px; text-align: left }
.msgTable th { background-color: #f0e3b8; font-style: italic;
               font-weight: normal }
.cellGap { padding-right: 0.4em }
.cellDashed { border: 1px dashed grey !important }
.no, .no td, .no th {
  border: 0 !important; padding: 0 !important; margin: 0 !important;
  background-color: transparent !important }
.hidden { visibility: hidden }
.simpleLabel { text-transform: none }
.translationLabel { background-color: #EAEAEA; border-bottom: 1px dashed grey;
                    margin-top: 0.5em; margin-bottom: 0.5em }
.section1 { font-size: 120%; margin: 0.45em 0em 0.1em 0;
            padding: 0.3em 0em 0.2em 0.1em; background-color: #eef3f5;
            border-top: 1px solid #8CACBB;border-bottom: 1px solid #8cacbb }
.section2 { font-size: 14px; padding: 6px; text-transform: uppercase;
            border-bottom: 1px dashed #cccccc; border-top: 1px dashed #cccccc;
            background-color: #f9f9f9 }
.section3 { font-size: 11px; font-weight: bold; text-transform: uppercase;
            padding: 2px 0px; background-color: #a1aeb5; text-align: center;
            color: white }
.even { background-color: #fbfbfb }
.odd { background-color: #f6f6f6 }
.odd2 { background-color: #f2f2f2 }
.refMenuItem { border-top: grey 1px dashed; margin-top: 3px; padding-top: 3px }
.summary { margin-bottom: 5px; background-color: whitesmoke;
           border: 3px solid white }
.by { padding: 5px; color: grey; font-size: 97% }
.underline { border-bottom: 1px dotted grey }
.state { font-weight: bold; border-bottom: 1px dashed grey }
.historyLabel { font-variant: small-caps; font-weight: bold }
.history td { border-top: 1px solid #e6e6e6; padding: 0 5px 0 5px }
.history th { font-style: italic; text-align: left; padding: 0 5px 0 5px }
.topSpace { margin-top: 15px }
.bottomSpace { margin-bottom: 15px }
.phase { background-color: whitesmoke; border: 1px solid #d0d0d0;
         box-shadow: 2px 2px 2px #888888; margin-bottom: 7px }
.phase td { padding: 3px 7px 3px 7px; border-right: 1px solid #d0d0d0;
            font-size: 96% }
.currentPage { background-color: #e6e6e6 }
.pageLink { margin-right: 8px }
.footer { font-size: 95%; height: 100% }
.footer td { background-color: #CBCBC9; border-top: 3px solid #e4e4e4;
             padding: 0.4em 1em 0.5em }
.code { font-family: "Lucida Console","Courier New" }
.codePara { background-color: #EEFFCC; border-color: grey;
            border-style: solid none; border-width: 1px medium;
            color: #333333; line-height: 120%;
            padding: 10px; margin: 10px 0 10px 0 }
.homeTable { background-color: #E3E3E3; border-top: 1px solid grey }
.homeTable td { padding: 10px 5px 10px 10px }
.homeTable th { padding-top: 5px; font-size: 105% }
.first { margin-top: 0px }
.error { margin: 5px }
.smaller { font-size: 95% }
.pod { padding-right: 15px }
.podTable { line-height: 20px }
.cbCell { width: 10px; text-align: center}
.tabs { position:relative; bottom:-2px }
.tab { padding: 0 10px 0 10px; text-align: center; font-size: 90%;
       font-weight: bold}
.language {color: #555555; font-size: 7pt; border: grey 1px solid; padding: 2px;
           margin: 0 2px 0 4px; font-family: monospace }
.highlight { background-color: yellow }
.globalActions { margin-bottom: 4px }
.objectActions { margin: 2px 0 }
.smallbox { margin: 0; vertical-align: middle }
