body { font: 75% Helvetica,Arial,sans-serif; background-color: #EAEAEA;
       margin-top: 18px}
pre { font: 100% Helvetica,Arial,sans-serif; margin: 0}
h1 { font-size: 14pt; margin-bottom:4px;}
h2 { font-size: 13pt; margin-bottom:4px; font-style: italic;
     font-weight: normal; background-color: #d7dee4}
h3 { font-size: 12pt; margin-bottom:4px; font-weight: bold;}
h4 { font-size: 11pt; margin-bottom:4px;}
h5 { font-size: 10pt; margin:0; font-style: italic; font-weight: normal;
     background-color: #d7dee4}
h6 { font-size: 9pt; margin:0; font-weight: bold;}
a { text-decoration: none; color: #436976;}
a:visited { color: #436976;}
table { font-size: 100%; border-spacing: 0px; border-collapse:collapse;}
form { margin: 0; padding: 0;}
p { margin: 0;}
acronym {cursor: help;}
input { font: 92% Helvetica,Arial,sans-serif }
input[type=image] { border: 0; background: none; }
input[type=checkbox] { border: 0; background: none; cursor: pointer;}
input[type=radio] { border: 0; background: none; cursor: pointer;}
input[type=file] { border: 0px solid #D7DEE4;
                   background-color: #f8f8f8; cursor: pointer;}
input[type=button] { border: 1px solid #D7DEE4;
                     background-color: #f8f8f8; cursor: pointer;}
input[type=submit] { border: 1px solid #D7DEE4; background-color: #f8f8f8;
                     cursor: pointer; }
input[type=password] { border: 1px solid #D7DEE4; background-color: #f8f8f8;
                       font-family: Helvetica,Arial,sans-serif;}
input[type=text] { border: 1px solid #D7DEE4; background-color: #f8f8f8;
                   font-family: Helvetica,Arial,sans-serif;
                   margin-bottom: 1px}
select { border: 1px solid #D7DEE4; background-color: #f8f8f8;}

textarea { width: 99%; font: 100% Helvetica,Arial,sans-serif;
           border: 1px solid #a79e9e; background-color: #f8f8f8;}
label { font-weight: 600; font-style: italic; line-height: 1.4em;}
legend { padding-bottom: 2px; padding-right: 3px; color: black;}
ul { line-height: 1.2em; margin: 0 0 0.2em 0.6em;  padding: 0;
     list-style: none outside none;}
ul li { margin: 0; background-image: url("ui/li.gif"); padding-left: 10px;
        background-repeat: no-repeat; background-position: 0 4px;}
img { border: 0; vertical-align: middle}

/* Styles that apply when viewing content of XHTML fields, that mimic styles
   that ckeditor uses for displaying XHTML content in the edit view. */
.xhtml { margin-top: 10px }
.xhtml img { margin-right: 5px }
.xhtml p { margin: 3px 0 7px 0}

.main { width: 900px; background-color: white; box-shadow: 3px 3px 3px #A9A9A9;
        border-style: solid; border-width: 1px; border-color: grey}
.top { height: 75px; margin-left: 3em; vertical-align: top;}
.lang { margin-right: 6px; }
.userStrip { background-color: #6282B3; height: 35px;
             border-top: 3px solid #034984; border-bottom: 2px solid #034984; }
.userStripText { font-size: 110%; padding: 0 0.3em 0 0.3em; color: white }
.login { margin-top: 2px; margin-bottom: 2px; color: black;}
.buttons { margin-left: 4px;}
.fakeButton { border: 1px solid #D7DEE4; background-color: #fde8e0;
              padding: 0px 8px 2px; font: italic 92% Helvetica,Arial,sans-serif}
.message { position: absolute; top: -40px; left: 150px; font-size: 90%;
           width: 600px; border: 1px #F0C36D solid; padding: 6px 16px;
           background-color: #F9EDBE; text-align: center;
           border-radius: 2px 2px 2px 2px; box-shadow: 0 2px 4px #A9A9A9;}
.focus { font-size: 90%; padding: 6px 16px; background-color: #d7dee4;
         border-radius: 2px 2px 2px 2px; box-shadow: 0 2px 4px #A9A9A9;}
.focus td { padding: 4px 0px 4px 4px }
.discreet { font-size: 90%; }
.portlet { width: 150px; border-right: 1px solid #5F7983;}
.portletContent { margin: 9px; }
.portletTitle { font-weight: bold; font-size: 110%; margin-bottom: 4px;}
.portletCurrent { font-weight: bold; }
.portletSep { border-top: 1px solid #5F7983; margin-top: 2px;}
.portletPage { font-style: italic; }
.portletGroup { font-variant: small-caps; font-weight: bold; font-style: normal;
                margin-top: 0.1em }
.portletSearch { font-size: 90%; font-style: italic; padding-left: 1em}
.phase { border-style: dashed; border-width: thin; padding: 4px 0.6em 5px 1em;}
.phaseSelected { background-color: #F4F5F6; }
.content { padding: 14px 14px 9px 15px; }
.grey { display: none; position: absolute; left: 0px; top: 0px;
        background:grey; opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5;
        filter:alpha(Opacity=50);}
.popup { display: none; position: absolute; top: 30%; left: 35%;
         width: 350px; z-index : 100; background: white; padding: 8px;
         border: 1px solid grey; }
.list { border: 1px solid grey; margin-bottom: 3px;}
.list td, .list th { border: 1px solid grey;
                     padding-left: 5px; padding-right: 5px; padding-top: 3px;}
.list th { background-color: #d7dee4; font-style: italic; font-weight: normal;}
.grid th { font-style: italic; font-weight: normal;
           border-bottom: 2px solid grey; padding: 2px 2px;}
.grid td { padding-right: 5px; }
.noStyle { border: 0 !important; padding: 0 !important; margin: 0 !important; }
.noStyle td { border:0 !important; padding:0 !important; margin:0 !important; }
.translationLabel { background-color: #EAEAEA; border-bottom: 1px dashed grey;
                    margin-top: 0.5em; margin-bottom: 0.5em; }
.section1 { font-size: 120%; margin: 0.45em 0em 0.1em 0;
            padding: 0.3em 0em 0.2em 0.1em; background-color: #eef3f5;
            border-top: 1px solid #8CACBB;border-bottom: 1px solid #8CACBB; }
.section2 { font-size: 110%; font-style: italic; margin: 0.45em 0em 0.2em 0;
            border-bottom: 2px solid grey; }
.section3 { font-size: 100%; font-style: italic; font-weight: bold;
            margin: 0.45em 0em 0.1em 0; background-color: #95a1b3;
            text-align: center; color: white; }
.odd { background-color: white; }
.even { background-color: #F4F5F6; }
.summary {margin-bottom: 5px;}
.objectTitle { font-size: 11pt; border-bottom: 3px solid grey;
               font-weight: bold;}
.by { padding-top: 5px;}
.workflow { text-align: center; border-top: 1px solid grey;
            background-color: #f8f8f8;}
.underTitle { background-color: #F4F5F6;}
.objectNavigate { margin-top: 3px;}
.underline { border-bottom: 1px dotted grey;}
.state { font-weight: bold; border-bottom: 1px dashed grey;}
.historyLabel { font-variant: small-caps; font-weight: bold;}
.history td { border-top: 1px solid grey;}
.history th { font-style: italic; text-align; left;}
.topSpace { margin-top: 15px;}
.discreet { color: grey}
.pageLink { padding-left: 6px; font-style: italic}
.footer { font-size: 95% }
.footer td { background-color: #CBCBC9; border-top: 1px solid grey;
             padding: 0.4em 1em 0.5em }
